<div class="container text-center padded">
  <h1>Our team</h1>
  <ul class="list-inline text-center">
    <% ["federico", "alex"].each do |member| %>
      <li>
        <%= image_tag "#{member}.png", class: "avatar-team" %>
        <h3><%= member.capitalize %></h3>
      </li>
    <% end %>
  </ul>
  <h3 class="padded">
    <% link_to "mailto:contact@airbnb.com" do %>
      contact@airbnb.com <i class="fa fa-envelope"></i>
    <% end %>
  </h3>
</div>
